* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-img: url(./img/01.jpeg);
}

body{
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size:cover;

    height: 100dvh;
    overflow: hidden;
    margin: 0;

    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
    font-style: italic;
}

header{
    display: flex;
    place-content: center;
    height: auto;
}

h1{
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container input{
    font-size: 2rem;
    border: 2px solid rgb(251, 181, 212);
    border-radius: 8px;
    padding: 0.3rem;
    text-align: center;
}

button{
    padding: 10px;
    width: 150px;
    margin: 15px;
    border-radius: 10px;

    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
    font-size: 20px;

    background-color: rgb(251, 181, 212);
    border: 2px solid white;
}